:root{
--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);
--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);
}
body{
    background-color:var(--Cream);
    max-width:36.5rem;
}
.product-preview-card{
    margin:1rem auto;
    background-color:var(--White);
    max-width:35.5rem;
    overflow:hidden;
    border-radius:0.75rem;
}
.Product_image{
    display:flex;
    align-items:center;
    justify-content:center;
}
.about_image{
   letter-spacing: 0.5rem;
   color:var(--Grey);
  
}

h1{
    font-size: 2rem;
}
.about_perfume{
    line-height: 1.5;
    color:var(--Grey)
}
.price{
    color:var(--Green-500);
    font-size:3rem;
    font-weight:700
}
.actual_price{
   text-decoration: line-through;
   display:flex;
   align-items:center;
   color:var(--Grey)
}
.amount{
    display:flex;
    gap:1rem;
}
button{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:1rem;
    padding:1rem 3rem;
    background-color:var(--Green-500);
    color:var(--White);
    border-radius:0.50rem;
    font-size:1rem;
}
@media(min-width:37.5rem){
    body{
        background-image:var(--Cream);
    }
    .product-preview-card{

    }
    .Product_image{
        width:50%;
        height:50%;
        display:block;
    }
}